### this is a template file for the .env file. 
### copy this file to .env and set the values accordingly


###### set this to you local ip address ######
NEXT_PUBLIC_URL=http://heartofceylon.shop
# NEXT_PUBLIC_URL=http://localhost:3000

######### Spring Boot Backend Base-URL #####
NEXT_PUBLIC_SPRING_BOOT_SERVER_URL= http://localhost:8080


PRODUCTS_PER_PRODUCT_SEARCH_RESULT=4


######### Stripe Payment Gateway Configuration #####
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_51Qi9A8KHj0IdRHin04PFcnriFSHWU1ncdxMyOousO9eILT2Wij9IqT7PsdZf5f25max6m1gjmdnxMCvcGXn3GFX000ADktwBn5



